integrations:
- name: nri-varnish
  env:

    INSTANCE_NAME: <User defined name to identify data from this instance in New Relic>

    PARAMS_CONFIG_FILE: <The location of the varnish.params configuration file. If omitted will look in /etc/default/varnish/varnish.params and /etc/sysconfig/varnish/varnish.params>

    VARNISH_NAME: <Optional. Specify the varnishd working directory (see varnishd -n)>

  interval: 15s
  labels:
    env: production
    role: varnish
  inventory_source: config/varnish
